@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/eez0jpv.css");
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@font-face {
    font-family: "Manifold";
    src: local("Fontspring-DEMO-manifoldextendedcf-bold"),
        url("./fonts/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-bold.otf") format("truetype");
}
@font-face {
    font-family: "Manifold Light";
    src: local("Fontspring-DEMO-manifoldextendedcf-thin"),
        url("./fonts/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-thin.otf") format("truetype");
}
@font-face {
    font-family: "Manifold meduim";
    src: local("Fontspring-DEMO-manifoldextendedcf-demiboldoblique"),
        url("./fonts/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-demiboldoblique.otf") format("truetype");
}

@font-face {
    font-family: "Manifold normal";
    src: local("Fontspring-DEMO-manifoldextendedcf-demibold"),
        url("./fonts/Demo_Fonts/Fontspring-DEMO-manifoldextendedcf-demibold.otf") format("truetype");
}
